$color-green: #2a682d
$color-green-hover: #39813c
$color-green-active: #295e2b
$color-white: #fff
$color-gray: #555
$color-black: #000000

body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  background: linear-gradient(45deg, #fbfbfb 30%, #fbfcff 80%, #efeff3 100%)
  font-family: "Poppins", sans-serif
  color: $color-black
